.st-emotion-cache-zt5igj span
{
background: linear-gradient(228deg, #0C29C5 0%, #B45AE1 29%, #AB49DB 31%, #A35BC7 39%, #8F12CD 50%, #F64F59 79%, #f64f59 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background: radial-gradient(circle at center center, #583399 0%, #D300FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.st-emotion-cache-nahz7x p {
  font-size:25px;
}
